*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
body{
    background: url(../images/2ea9d73d1c58969150e8696664358f9e.jpg);
}
.navbar{
    background-color: #ff652f;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0px;
    width: 100%;

}
.nav-list{
    list-style-type: none;
    
}
.nav-list li{
    display: inline-block;
    padding: 30px 20px;
    margin-right: 220px;
    
}
.navbar a{
    color:white;
    text-decoration: none;
}
.navbar a:hover{
    color: aqua;
}
/* The above styles the Navbar */
.description{
    display: flex;
    justify-content: space-between;
}
.profile{
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
}
#picta img{
    border-radius: 100px;
    margin-top: 20px;
    margin-right: 200px;
    height: 300px;
    
}

.footer{
    display: flex;
    color: #efefef;
    background: #4e4e50;
    padding: 10px 10%;
    width: 100%;
    margin-top: 5px;
    position: sticky;
    /* bottom: 0px; */
    

}
.footer div{
    text-align: center;
}
.column2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.column1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.media{
    margin-top: 30px;
}
.media i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}