*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
body{
    background: url(../images/f8e395b6785428be9450d570bf48bf09.jpg);
}
.navbar{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0px;
    width: 100%;

}
.nav-list{
    list-style-type: none;
    
}
.nav-list li{
    display: inline-block;
    padding: 30px 20px;
    margin-right: 220px;
}
.navbar a{
    color:white;
    text-decoration: none;
}
.navbar a:hover{
    color: aqua;
}
/* The above styles the Navbar */
.description{
    display: flex;
    justify-content: space-between;
}
.profile{
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
}
.picta img{
    border-radius: 100px;
    margin-top: 20px;
    margin-right: 200px;
    height: 450px;
    
}
/* #footer div{
    background-color: red;
    margin: auto;
    align-items: center;
    color: aqua;
    text-align: center;
} */
#footer{
    display: flex;
    background: aqua;
    justify-content: space-around;

}

