@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,700;1,300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1.5;
  /* background-image: url(../AboutUs/images/5e5fbecb5fe8f646be955e8ded53ae17.jpg);
  background-position: center;
  background-size: cover;
  width: 100%; */
}

body{
  background: url(../AboutUs/images/2ea9d73d1c58969150e8696664358f9e.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
}
.testimonial{
    padding: 30px 100px;
} 

article h1:after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
} 
article img{
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 100%;
    margin-top: 5px;
}
blockquote{
    font-family: sans-serif;
    font-size: 20px ;
    margin-top: 10px;
    color: #BF6B92;
}

article p{
    font-size: 17px;

}
.footer{
    display: flex;
    background: #00747C;
    padding: 10px 10%;
    width: 100%;
    margin-top: 5px;
    position: sticky;
}

.footer div{
    text-align: center;
   
}
.column2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #00ff00;
}
.column1 a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

